# Predict price gold

Predict 2021 monthly gold with 70 years of historical prices

- Importing the necessary libraries.
- Reading the dataset from the CSV file.
- Splitting the dataset into independent (x) and dependent (y) variables.
- Dividing the complete dataset into training and testing dataset.
- Implement our classifier based on simple linear regression.

Largely inspired from :https://github.com/Tanu-N-Prabhu/Python/blob/master/Predicting_PewDiePie's_daily_subscribers_using_Machine_Learning_.ipynb

Data coming from: https://datahub.io/core/gold-prices#resource-monthly

In [59]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [60]:
df = pd.read_csv("monthly_gold.csv")
df.tail(10)

      Id    Price
837  838  1494.77
838  839  1471.92
839  840  1480.03
840  841  1560.67
841  842  1598.82
842  843  1593.76
843  844  1680.03
844  845  1715.70
845  846  1734.03
846  847  1840.81

In [61]:
# x is the date
x = df.iloc[:, :-1]

# y is the value 
y = df.iloc[:, 1]

In [62]:
# get x train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [63]:
print(x_train)

      Id
242  243
301  302
170  171
187  188
841  842
..   ...
835  836
192  193
629  630
559  560
684  685

[592 rows x 1 columns]

In [65]:
print(y_train)

242      35.09
301     179.55
170      35.08
187      35.15
841    1598.82
        ...
835    1497.10
192      35.15
629     321.54
559     387.51
684     630.35
Name: Price, Length: 592, dtype: float64

In [66]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression()

In [69]:
y_predict = simplelinearRegression.predict(x_test)
predict = pd.DataFrame(y_predict)
predict.apply(np.round)

         0
0    805.0
1    106.0
2    718.0
3    854.0
4    685.0
..     ...
250  541.0
251  422.0
252  521.0
253  319.0
254  973.0

[255 rows x 1 columns]

In [76]:
x_future = [[848],[849],[850],[851],[852],[853],[854],[855],[856],[857],[858]]
y_predict_future = simplelinearRegression.predict(x_future)
predict = pd.DataFrame(y_predict_future)
predict.apply(np.round)

         0
0   1084.0
1   1085.0
2   1087.0
3   1088.0
4   1090.0
5   1091.0
6   1093.0
7   1095.0
8   1096.0
9   1098.0
10  1099.0